<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>preset_focus_ocean.m4a</string>
	<string>preset_focus_rain.m4a</string>
	<string>preset_focus_muse.m4a</string>
</array>
</plist>
